# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
vc120.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vpc_crc
*.sln
*.res

*.vpc.sentinel
*.vcxproj.*

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak

# Specific Source build products
client.pdb
client.dll
client.lib
server.pdb
server.dll
server.lib
engine.pdb
engine.dll
engine.lib
gameui.pdb
gameui.dll
gameui.lib
hlmv.pdb
hlmv.exe
hlmv.lib
hlmv.res
halflife.res
studiomdl.pdb
studiomdl.exe
studiomdl.lib
vbsp.pdb
vbsp.exe
vbsp.lib
vrad_dll.pdb
vrad_dll.dll
vrad_dll.lib
vvis_dll.pdb
vvis_dll.dll
vvis_dll.lib
studiorender.pdb
studiorender.dll
studiorender.lib
tier0.pdb
tier0.dll
tier0.lib
vstdlib.pdb
vstdlib.dll
vstdlib.lib
datacache.pdb
datacache.dll
datacache.lib
inputsystem.pdb
inputsystem.dll
inputsystem.lib
dedicated.pdb
dedicated.dll
dedicated.lib
filesystem_stdio.pdb
filesystem_stdio.dll
filesystem_stdio.lib
launcher.pdb
launcher.dll
launcher.lib
materialsystem.pdb
materialsystem.dll
materialsystem.lib
shaderapidx9.pdb
shaderapidx9.dll
shaderapidx9.lib
shaderapiempty.pdb
shaderapiempty.dll
shaderapiempty.lib
sourcevr.pdb
sourcevr.dll
sourcevr.lib
stdshader_dbg.pdb
stdshader_dbg.dll
stdshader_dbg.lib
stdshader_dx6.pdb
stdshader_dx6.dll
stdshader_dx6.lib
stdshader_dx7.pdb
stdshader_dx7.dll
stdshader_dx7.lib
stdshader_dx8.pdb
stdshader_dx8.dll
stdshader_dx8.lib
stdshader_dx9.pdb
stdshader_dx9.dll
stdshader_dx9.lib
vgui2.pdb
vgui2.dll
vgui2.lib
vguimatsurface.pdb
vguimatsurface.dll
vguimatsurface.lib
video_quicktime.pdb
video_quicktime.dll
video_quicktime.lib
video_services.pdb
video_services.dll
video_services.lib
commedit.pdb
commedit.dll
commedit.lib
pet.pdb
pet.dll
pet.lib
vmt.pdb
vmt.dll
vmt.lib
vtex_dll.pdb
vtex_dll.dll
vtex_dll.lib
vtex.pdb
vtex.exe
vtex.lib
vpk.pdb
vpk.exe
vpk.lib
hammer.pdb
hammer.exe
hammer.lib
hammer_dll.pdb
hammer_dll.dll
hammer_dll.lib

# ignore this files since they have to be builded manually any way
mathlib.lib
particles.lib
tier1.lib
raytrace.lib
appframework.lib
datamodel.lib
matsys_controls.lib
tier2.lib
tier3.lib
vgui_controls.lib
vgui_surfacelib.lib
vtf.lib
dme_controls.lib
sfmobjects.lib
toolutils.lib
fgdlib.lib

# files generated by running a mod
config.cfg

# shader files
*.tmp

